<!DOCTYPE html>
<html lang="en">
<!-- divinectorweb.com -->
<head>
    <meta charset="UTF-8">
    <title>Responsive Website Layout Design</title>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.component.scss"> 
</head>
<body>

<header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://media.licdn.com/dms/image/C560BAQG_86vXWRYZlw/company-logo_200_200/0/1519900977384?e=2147483647&v=beta&t=EL1yXGCHkaVkjLdwYiwJbca3bzDoVXSe5tddnhRrtZc" alt="" >
        </div>
        
        <ul class="nav-area">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li> <a routerLink="/login">Login </a></li>
        </ul>
    </div>


<div class="welcome-text">
    <h1>Vlead</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a href="#">Contact US</a>
</div>

</header>

</body>
</html>